/* @import fonts */

body {
    font-family: 'PT Sans', sans-serif;
    min-height: 740px;
    background: #099;
}

.impress-supported .fallback-message {
  display: none;
}

.step {
  font-family: 'Open Sans', Arial, sans-serif;
  box-sizing: border-box;
  /* width: calc(100vw - 2em);
  height: calc(100vh - 5em); */
  opacity: 0;
}

.step.prev {
  opacity: 0.1;
}

.impress-enabled .step.active {
  opacity: 1;
  z-index: 10;
}

.markdown {
  border-radius: 0.5em;
  background-color: #033;
  color: white;
  padding: 2em 4em;
  transition: opacity 1s;

}

.overview {
  background-color: rgba(0,0,0,0.2);
  padding: 1em;
  font-size: 3em;
  text-align: center;
  width: 960px;
  height: 600px;
  opacity: 1;
}


@media screen and (orientation: landscape) {
  .markdown {
    width: 960px;
    height: 600px;
  }
}
@media screen and (orientation: portrait) {
  .markdown {
    width: 600px;
    height: 960px;
  }
}
